.bicicletas-bg {
  background-image: linear-gradient(
    to right,
    var(--cor-0) 30%,
    var(--cor-11) 0%
  );
}

.bicicletas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding-bottom: 60px;
  padding-top: 60px;
  background: url("/img/dec/top-right.svg") no-repeat top 40px right 20px;
}

.bicicletas-imagem {
  position: relative;
}

.bicicletas-imagem span {
  border-radius: 4px 0 0 4px;
  background-color: var(--cor-11);
  padding: 8px 16px 8px 8px;
  display: inline-block;
  position: absolute;
  top: 20px;
  right: 0px;
}

.bicicletas-conteudo {
  display: grid;
  grid-template-columns: 1fr auto;
  align-content: start;
}

.bicicletas p,
.bicicletas h2 {
  grid-column: 1/-1;
}

.bicicletas h2 {
  margin-bottom: 12px;
  text-transform: capitalize;
}

.bicicletas h2::before {
  content: "";
  width: 12px;
  height: 8px;
  display: block;
  background-color: var(--cor-p2);
}

.bicicletas p {
  margin-bottom: 8px;
}

.bicicletas a {
  place-self: end;
}

.bicicletas ul {
  display: grid;
}

.bicicletas li {
  display: flex;
  align-items: center;
  gap: 8px;
}

.bicicletas-conteudo img {
  width: 24px;
  margin-right: 8px;
}

@media (max-width: 800px) {
  .bicicletas-bg {
    background: var(--cor-11);
  }
  .bicicletas {
    grid-template-columns: 1fr;
    gap: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media (max-width: 600px) {
  .bicicletas-conteudo {
    grid-template-columns: 1fr;
  }
  .bicicletas-conteudo ul {
    font-size: 1rem;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 32px;
  }
  .bicicletas a {
    place-self: start;
  }
}
